<font SIZE=4 color=#E61313>
<b>
1 - LE CHATEAU
</b>
</font>
<br>
Inscrits: 935
<br>
Votants: 437
<br>
Blancs: 5
<br>
Nuls: 5
<br>
Exprim&eacute;s: 427
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
193
</td><td valign=middle align=right>
45.20%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
107
</td><td valign=middle align=right>
25.06%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
127
</td><td valign=middle align=right>
29.74%
</td></tr>
</table>
