<font SIZE=4 color=#E61313>
<b>
2 - SALLE  DES COLOMBES
</b>
</font>
<br>
Inscrits: 1148
<br>
Votants: 583
<br>
Blancs: 4
<br>
Nuls: 9
<br>
Exprim&eacute;s: 570
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
254
</td><td valign=middle align=right>
44.56%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
163
</td><td valign=middle align=right>
28.60%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
153
</td><td valign=middle align=right>
26.84%
</td></tr>
</table>
