<font SIZE=4 color=#E61313>
<b>
3 - ECOLE JEAN MOULIN
</b>
</font>
<br>
Inscrits: 1176
<br>
Votants: 561
<br>
Blancs: 6
<br>
Nuls: 11
<br>
Exprim&eacute;s: 544
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
231
</td><td valign=middle align=right>
42.46%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
162
</td><td valign=middle align=right>
29.78%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
151
</td><td valign=middle align=right>
27.76%
</td></tr>
</table>
