<font SIZE=4 color=#E61313>
<b>
4 - ECOLE STE ANNE
</b>
</font>
<br>
Inscrits: 1144
<br>
Votants: 584
<br>
Blancs: 5
<br>
Nuls: 12
<br>
Exprim&eacute;s: 567
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
211
</td><td valign=middle align=right>
37.21%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
159
</td><td valign=middle align=right>
28.04%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
197
</td><td valign=middle align=right>
34.74%
</td></tr>
</table>
