<font SIZE=4 color=#E61313>
<b>
8 - MEDIATHEQUE
</b>
</font>
<br>
Inscrits: 918
<br>
Votants: 442
<br>
Blancs: 4
<br>
Nuls: 1
<br>
Exprim&eacute;s: 437
<br>
<table border=1  width=290 cellpadding=2 cellspacing=0 bordercolor=#395683 style='font-size:10pt;font-weight: bold;color: #000066'>
<tr>
<td valign=middle align=left bgcolor=#C7DCFC>
Candidats
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
Voix
</td>
<td valign=middle align=right bgcolor=#C7DCFC>
%
</td>
</tr>
<tr>
<td valign=middle align=left>
CHAUVIN Pascal
</td><td valign=middle align=right>
162
</td><td valign=middle align=right>
37.07%
</td></tr>
<tr>
<td valign=middle align=left>
FERAUD Jean-Claude
</td><td valign=middle align=right>
153
</td><td valign=middle align=right>
35.01%
</td></tr>
<tr>
<td valign=middle align=left>
FAYOLLE-SANNA Stéphanie
</td><td valign=middle align=right>
122
</td><td valign=middle align=right>
27.92%
</td></tr>
</table>
