/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* On ne fixe pas la hauteur du header */
.navbar-brand {
  height: inherit;
}

.container .credit {
  margin: 20px 0;
}

.tab-content {
  padding-top: 10px;
}

.page-header {
    margin-top: 20px;
}

div.plan {
  position: relative;
}

div.plan span.bureau {
  position: absolute;
}

table.table-resultats td.candidat-liste {
  text-transform: uppercase;
}

td.candidat-liste-voix {
  min-width: 60px;
}

/*Style de la page affiché en cas d'erreur*/
#affichage_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 100vh;
  width: 100vw;
}

#affichage_text {
  max-width: 50%;
  text-align: center;
}

#affichage_text h1  {
  font-size: 3em;
  color: #619af3;
}

#affichage_text p  {
  letter-spacing: .5px;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  #affichage_text {
      max-width: 80%;
  }

  #affichage_text h1  {
      font-size: 2em;
      color: #619af3;
  }
  
  #affichage_text p  {
      font-size: 0.8em;
      letter-spacing: 1px;
  }
  #affichage_container img {
      max-width: 75vw;
  }
}